html, body {margin: 0; height: 100%; overflow: hidden}

.App {
  background-color: #DCEFCA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  padding-bottom: 80px;
}
